services:
  - type: web
    name: frontend-dev
    env: static
    buildCommand: npm --prefix web/frontend ci && npm --prefix web/frontend run build -- --base="/"
    staticPublishPath: web/frontend/dist
    buildFilter:
      paths: ["web/frontend/**"]
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: Cache-Control
        value: public,max-age=600
  - type: web
    name: frontend-stage
    env: static
    buildCommand: npm --prefix web/frontend ci && npm --prefix web/frontend run build -- --base="/"
    staticPublishPath: web/frontend/dist
  - type: web
    name: frontend-prod
    env: static
    buildCommand: npm --prefix web/frontend ci && npm --prefix web/frontend run build -- --base="/"
    staticPublishPath: web/frontend/dist
